@*
*@
@{
}

@model RecipePage.Models.AddRecipeViewModel

<h1>Add Recipe</h1>
<form method="post">

    <div class="mt-3">
        <label for="form-label">Title</label>
        <input type="text" class="form-control" asp-for="Title">
    </div>

    <div class="mt-3">
        <label for="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description">
    </div>

    <div class="mt-3">
        <label>Ingredients</label>
        <div id="ingredients">
            <div class="ingredient row">
                <div class="col">
                    <input type="text" name="ListOfIngredients[0].Name" placeholder="Ingredient name"
                        class="form-control" />
                </div>
                <div class="col">
                    <input type="number" name="ListOfIngredients[0].Amount" placeholder="Amount" class="form-control" />
                </div>
                <div class="col">
                    <input type="text" name="ListOfIngredients[0].Units" placeholder="Unit" class="form-control" />
                </div>
                <div class="col">
                    <input type="text" name="ListOfIngredients[0].Note" placeholder="Note" class="form-control" />
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger delete-ingredient">Delete</button>
                </div>
            </div>
        </div>
        <button type="button" id="addIngredient" class="btn btn-primary mt-2">Add Ingredient</button>
    </div>

    <div class="mt-3">
        <label for="form-label">Cooking Time</label>
        <input type="time" class="form-control" asp-for="CookingTime" placeholder="hours:minutes">
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Initialize the ingredient index
            var ingredientIndex = 1;

            // Event listener for the "Add Ingredient" button
            $("#addIngredient").click(function () {
                // Clone the first ingredient input fields
                var newIngredient = $(".ingredient").first().clone();
                // Clear the input fields
                newIngredient.find('input').val('');
                // Append the cloned ingredient input fields to the list of ingredients
                newIngredient.appendTo("#ingredients");
                // Update the indexes of all ingredients
                updateIngredientIndexes();
            });

            // Function to update the indexes of all ingredients
            function updateIngredientIndexes() {
                $(".ingredient").each(function (index) {
                    // Update the index of each input field within the ingredient
                    $(this).find("input").each(function () { // Selects all input fields within the current ingredient and iterates over each input field.
                        var name = $(this).attr("name");
                        var newName = name.replace(/\[(\d+)\]/, "[" + index + "]"); // Replaces index number in name attribute
                        $(this).attr("name", newName);
                    });
                });
            }

            // Event listener for the "Delete Ingredient" button
            $(document).on("click", ".delete-ingredient", function () {
                $(this).closest(".ingredient").remove(); // Remove the ingredient
                updateIngredientIndexes(); // Update the indexes of all ingredients
            });
        });
    </script>
}